#menu-backdrop {
  height: 200px;
}
.ui-menu {
  width: 150px;
}
#example-title {
  color: DarkGoldenRod;
}
#reset-button {
  margin: 10px;
  margin-left: 110px;
}
#action-button-text {
  color: Olive;
  font-size: 80%;
}
.results, .results-label {
  font-family: courier;
  font-size: 90%;
  font-weight: bold;
}
.results-label {
  color: Olive;
}
.results {
  color: dodgerblue;
}
.indianred {
  color: indianred;
}
.examples-progress-bar {
  width: 400px;
}
#todos {
  width: 300px;
}
.myaccordion h2, .myaccordion .ui-accordion {
  padding: 0px;
  width: 500px;
  margin-bottom: 3px;
  height: 50px;
}

#my-tabs {
  width: 500px;
}

.myaccordion .ui-accordion-content{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  width: 427px;
  height: 360px !important;
}

.ui-accordion .ui-accordion-header a {
  padding-left: 40px;
}

#my-sortables {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
}
#my-sortables li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}
#my-sortables li span {
  position: absolute;
  margin-left: -1.3em;
}

.slider {
  width: 300px;
}

#vertical-slider, #slider-text-value {
  margin: 10px;
  margin-left: 145px;
}

#vertical-slider {
  height: 150px;
  width: 0.8em;
}

#spacer {
  display: inline;
}

#myaccordion .ui-accordion h2 {
  padding: 0px;
  width: 500px;
}

#tab-display {
  color: #0074C7;
  font-weight: 900;
}

button {
  background: url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x;
}
.date-field input {
  background-color: darkgoldenrod;
  color: white;
  width: 7em;
}
#about-hdr, #about-ftr p {
  width: 400px;
  color: DarkGrey;
  text-align: justify;
  font-size: 80%;
  line-height: 1.25em;
  margin: 2.0em 0;
  text-align: justify;
}
.hdrftr {
  width: 400px;
  color: DarkGrey;
  text-align: justify;
  font-size: 80%;
  line-height: 1.25em;
  margin: 2.0em 0;
  text-align: justify;
}
.css-table {
  display: table;
}
.css-row {
  display: table-row;
}
.css-cell {
  display: table-cell;
}
.ingredient-item {
  background-color: palegoldenrod;
  padding: 1px;
  margin: 1px;
}
.ingredients-table-cell {
  border: 1px solid lightsteelblue;
  width: 300px;
}
#selected-ingredients {
  list-style-type: none;
  margin: 1px;
  -webkit-padding-start: 0px;
}
.delete-ingredient {
  float: right;
  opacity: 0.3;
}
#selected-ingredients li {
  padding: 1px;
  margin: 1px;
  border: none;
}
.title {
  font-size: smaller;
  font-weight: bold;
}
.icon-remove {
  float: right;
  opacity: 0.1;
}
.highlight-x {
  opacity: 0.7;
}
