.todos-progress-bar {
  width: 400px;
}

.todos-progress-bar-small {
  width: 200px;
}

#todos {
  width: 300px;
}

.myaccordion h2, .myaccordion .ui-accordion {
  padding: 0px;
  width: 500px;
}

.myaccordion .ui-accordion-content{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  width: 465px;
}

#my-tabs {
  width: 500px;
}

.slider {
  width: 300px;
}

#vertical-slider {
  margin-left: 150px;
  height: 150px;
}

#spacer {
  display: inline;
}

#center-slider-text {
  margin-left: 150px;
}

#myaccordion .ui-accordion h2 {
  padding: 0px;
  width: 500px;
}

button {
  background: url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x;
}

.date-field input {
  background-color: darkgoldenrod;
  color: white;
  width: 7em;
}

